*{
    box-sizing: border-box;
    
    
}

h1{
    font-size: 1rem;
}



.header .info{
    font-family: "Roboto", sans-serif;
}

.info {
    font-family: 'Roboto',SANS-SERIF;
}


.main{
   
    padding: 1rem;
    font-family: "Fira code",sans-serif
    
}

body{
    
    background-color: rgb(240 255 42 / 25%);
}
